
<div class="links-container">
    <%= link_to "Register ", new_user_path, class: "btn btn-outline-dark mr-20" %>
    <%= link_to "Log In", new_sessions_path, class: "btn btn-outline-dark mr-20" %>
</div>

<div class="image-display">
  <%= image_tag("Cafeteria.jpg", :size => "1000x450") %>
</div>
